Route::get('/remark','dashboard@remark');
Route::get('/dashboard/addBusRemark','dashboard@addBusRemark');
Route::get('/dashboard/addTicketRemark','dashboard@addTicketRemark');
Route::get('/dashboard/addCarRemark','dashboard@addCarRemark');
Route::get('/dashboard/addHotelRemark','dashboard@addHotelRemark');
Route::get('/dashboard/addVisaRemark','dashboard@addVisaRemark');
Route::get('/dashboard/addMedRemark','dashboard@addMedRemark');
Route::get('/dashboard/addGenRemark','dashboard@addGenRemark');